
body
{
    -webkit-font-smoothing: antialiased!important;
    font: 13px/20px!important;
    color: #555555!important;
    font-family: 'Nobile', Helvetica, Arial, sans-serif!important;
}
a{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
    margin: 0
}
/* ** Text elements **
   ================================================== */
p
{
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 0 0 1.5em;
}
p .left
{
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p .right
{
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a:focus, a:hover
{
    color: #09f
}
a
{
    color: #06c;
    text-decoration: underline;
}
.main-content
{
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    padding: 6px;
    position: relative;
    top: 200px;
    z-index: 5;
}
#error
{
    color: #fff;
    position: absolute;
    font-size: 26px;
    text-align: center;
    font-family: 'Corben', Georgia, Times, serif;
    top: -90px;
    overflow: visible;
    padding: 0;
    margin: 0;
    -webkit-animation: main-tetx-animation 2s 1 ease-out;
    -moz-animation: main-tetx-animation 2s 1 ease-out;
    -o-animation: main-tetx-animation 2s 1 ease-out;
    -ms-animation: main-tetx-animation 2s 1 ease-out;
    animation: main-tetx-animation 2s 1 ease-out;
}
@-webkit-keyframes main-tetx-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        top: -90px
    }
}
@-moz-keyframes main-tetx-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        top: -90px
    }
}
@-o-keyframes main-tetx-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        top: -90px
    }
}
@-ms-keyframes main-tetx-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        top: -90px
    }
}
@keyframes main-tetx-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        top: -90px
    }
}
.page-content
{
    padding: 20px 20px 20px;
    -webkit-animation: page-content-animation 5s 1 ease-out;
    -moz-animation: page-content-animation 5s 1 ease-out;
    -o-animation: page-content-animation 5s 1 ease-out;
    -ms-animation: page-content-animation 5s 1 ease-out;
    animation: page-content-animation 5s 1 ease-out;
}
@-webkit-keyframes page-content-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        opacity: 1
    }
}
@-moz-keyframes page-content-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        opacity: 1
    }
}
@-o-keyframes page-content-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        opacity: 1
    }
}
@-ms-keyframes page-content-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        opacity: 1
    }
}
@keyframes page-content-animation
{
    0%
    {
        top: 0px;
        opacity: 0;
    }
    20%
    {
        opacity: 0
    }
    100%
    {
        opacity: 1
    }
}
